{{#if error}}
    <p>{{error}}</p>
{{/if}}
<p>We have sent you a verification code</p>
<p>Please enter you verification code here!</p>
<form method="POST" action="/step3">
    <input type="hidden" name="id" value="{{id}}"/>
    <input type="text" name="token"/>
    <input type="submit" value="Check Code" />
</form>